body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #464647;
}

.kalimat1 {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    color: white;

}
.kalimat2 {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    color: rgb(0, 0, 0);

}

    